---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

Over my years at the University of Malta, I've had the opportunity to be involved in various activities outside of my primary research. These include assisting in giving lectures and tutorials, presenting my work at conferences, and reviewing for high quality international journals and conferences.

<h2>Lecturing</h2>
{% for post in site.teaching reversed %}
    {% include archive-single.html %}
{% endfor %}

<h2>Tutorials</h2>

{% for post in site.tutorial reversed %}
    {% include archive-single.html %}
{% endfor %}

<h2>Talks</h2>

{% for post in site.talks reversed %}
    {% include archive-single.html %}
{% endfor %}

<h2>Peer Review</h2>

I have peer reviewed over 100 academic papers across the following journals and conferences:

<ul>
    <li>IEEE Transactions on Games (ToG)</li>
    <li>IEEE Transactions on Affective Computing (TaC)</li>
    <li>Information Fusion (Elsevier)</li>
    <li>Entertainment Computing (Elsevier)</li>
    <li>Data in Brief (Elsevier)</li>
    <li>Nature Scientific Data</li>
    <li>IEEE International Conference on Affective Computing and Intelligent Interaction (ACII)</li>
    <li>IEEE International Conference on Games (CoG)</li>
    <li>ACM International Conference on the Foundations of Digital Games (FDG)</li>
    <li>International Conference on Multimodal Interaction (ICMI)</li>
    <li>Procedural Content Generation Workshop</li>
    <li>Experimental AI in Games Workshop (EXAG)</li>
    <li>AAAI conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</li>
</ul>

Additionally, I was awarded the "Outstanding Reviewer Award" for the IEEE ToG journal for the years 2023 (3rd place) and 2024 (2nd place).