---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

Over my years at the University of Malta, I've had the opportunity to be involved in various activities outside of my primary research. These include assisting in giving lectures and tutorials, presenting my work at conferences, and reviewing for high quality international journals and conferences.
<br><br>
  <div class="notice--cv">
    <h1>Lecturing</h1><br>
    {% for post in site.teaching reversed %}
      {% include archive-single.html %}
    {% endfor %}
  </div>

    <div class="notice--cv">
    <h1>Tutorials</h1><br>
    {% for post in site.tutorial reversed %}
      {% include archive-single.html %}
    {% endfor %}
  </div>

    <div class="notice--cv">
    <h1>Talks</h1><br>
    {% for post in site.talks reversed %}
      {% include archive-single.html %}
    {% endfor %}
  </div>

    <div class="notice--cv">
    <h1>Peer Review</h1>

    <p>
      I have peer reviewed over <strong>100 academic papers</strong> across the following
      journals and conferences:
    </p>

    <ul>
      <li>IEEE Transactions on Games (ToG)</li>
      <li>IEEE Transactions on Affective Computing (TaC)</li>
      <li>Information Fusion (Elsevier)</li>
      <li>Entertainment Computing (Elsevier)</li>
      <li>Data in Brief (Elsevier)</li>
      <li>Nature Scientific Data</li>
      <li>IEEE International Conference on Affective Computing and Intelligent Interaction (ACII)</li>
      <li>IEEE International Conference on Games (CoG)</li>
      <li>ACM International Conference on the Foundations of Digital Games (FDG)</li>
      <li>International Conference on Multimodal Interaction (ICMI)</li>
      <li>Procedural Content Generation Workshop</li>
      <li>Experimental AI in Games Workshop (EXAG)</li>
      <li>AAAI Conference on Artificial Intelligence and Interactive Digital Entertainment (AIIDE)</li>
    </ul>

    <p>
      🏅 <strong>Outstanding Reviewer Award</strong>: IEEE Transactions on Games 2023 (3rd place), 2024 (2nd place)
    </p>
  </div>
